body{
 font-family:cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    position: relative;
    width: 280px;
    height: 380px;
    background: #040404;
    box-shadow: 0 15px 18px rgba(179,179,179,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: -1;
    font-size: .9rem;
}
.profile-pic{
    width: 100px;
    height: 100px;
    background:url("IMG_20210531_230938_531.jpg") 0 1px/cover ;
    border-radius: 50%;
    border:3px,solid #fff
}

.layer{
    position: absolute;
    top: 21%;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: .4s ease;
    z-index: -1;
    overflow: hidden;
}
.details{
    text-align: center;
    color: #fff;
    transition: .4s ease;
}
.skills{
    font-size: 1.5rem;
}
.skills i{
    margin: 0 .3rem;
    opacity: 0;
    transition: .4s ease;
}
.fa-html5{
    color: #e34c26;
}
.fa-css3-alt{
    color: #0098ff;
}
.fa-js{
    color: #f0db4f;
}
.fa-react{
    color: #dd1b16;
}
.button a{
 display: black;
 text-decoration: none;
 width: 500px;
 height:500px;
 border:3px solid #fff;
 border-radius: 50px;
 text-align: center;
 line-height: 50px;
 color: #fff;
 letter-spacing: 2px;
 transition: .4s ease;
}
.container:hover .layer{
height: 100%;
}
.container:hover .details{
    color: #040404;
}
.container:hover .skills i{
    opacity: 1;
}
.container:hover .button a{
    border-color: #040404;
    color: #040404;
}
.button{
    padding: 40px;
    
}
